@font-face {
    font-family: "iconfont"; /* Project id 4183178 */
    src: url('//at.alicdn.com/t/c/font_4183178_8n7wgr0sicp.woff2?t=1723872136325') format('woff2'),
         url('//at.alicdn.com/t/c/font_4183178_8n7wgr0sicp.woff?t=1723872136325') format('woff'),
         url('//at.alicdn.com/t/c/font_4183178_8n7wgr0sicp.ttf?t=1723872136325') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-jiazai:before {
    content: "\e604";
  }
  
  .icon-aixin:before {
    content: "\eca1";
  }
  
  .icon-tiantianquan:before {
    content: "\e603";
  }
  
  .icon-wenzhang-copy:before {
    content: "\e643";
  }
  
  .icon-fabu:before {
    content: "\e615";
  }
  
  .icon-fabu1:before {
    content: "\e616";
  }
  
  .icon-bofang:before {
    content: "\e624";
  }
  
  .icon-zanting:before {
    content: "\e629";
  }
  
  .icon-sousuo:before {
    content: "\e651";
  }
  
  .icon-zhankai:before {
    content: "\e786";
  }
  