*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar{
    display: none;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}